<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Name That Cat</title>
  </head>
  <body>
    <form action="/named-cat" method="post">
      <input type="text" name="name">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
